:root {
  --little-sun-black: #000000;
  --little-sun-yellow: #FFDD00;
  --little-sun-white: #FFFFFF;
  --little-sun-gray: #F4F4F4;
}

main {

}

/* Id's & classes */
.btn-primary {
  background-color: var(--little-sun-yellow);
  border: none;
  color: var(--little-sun-black);
}

.btn-primary:hover {
  background-color: var(--little-sun-black);
  color: var(--little-sun-yellow);
}

.text-bg-dark {
  background-color: var(--little-sun-black);
}

.bg-image {
  background-image: url('../images/little-sun-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}