:root {
  --little-sun-black: #000000;
  --little-sun-yellow: #FFDD00;
  --little-sun-white: #FFFFFF;
  --little-sun-gray: #F4F4F4;
}

/* Id's & classes */
main {
  width: 100%;
  height: 100vh;
}

.bg-image {
  background-image: url('../images/little-sun-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}