:root {
  --little-sun-black: #000000;
  --little-sun-yellow: #FFDD00;
  --little-sun-white: #FFFFFF;
  --little-sun-gray: #F4F4F4;
}

main {
  
}

/* Id's & classes */
#login-navbar {
  background: var(--little-sun-black) !important;
}

#login-navbar img {
  width: 48px;
}

#login-navbar a {
  color: var(--little-sun-white);
}

#login-navbar a:hover {
  color: var(--little-sun-gray);
}

#img-navbar {
  width: fit-content !important;
  border-radius: 50%;
}

.btn.btn-primary {
  background-color: var(--little-sun-yellow);
  border: none;
  color: var(--little-sun-black);
}

.btn-primary:hover {
  background-color: var(--little-sun-black);
  color: var(--little-sun-yellow);
}

.text-bg-dark {
  background-color: var(--little-sun-black);
}

.bg-image {
  background-image: url('../images/little-sun-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}